cycler
fonttools
joblib
kiwisolver
matplotlib
memory-profiler
numpy
packaging
pandas
patsy
Pillow
pip
psutil
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
setuptools
six
statsmodels
threadpoolctl
wheel
xgboost
